<html>
<body>

    <h1> Create new movies </h1>
    <form action ="/movie/create" method="POST">
        Name:<input type="text" name="name"></br>
        Language:<input type="text" name="language"></br>
        Genre:<input type="text"   name="genres"></br>
        Genre:<input type="text"   name="genres"></br>   
        Genre:<input type="text"   name="genres"></br>            
        <input type="submit" name=save value="Add movies">
    </form>   
</body>
</html>